<!DOCTYPE web-app PUBLIC 
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddClass</servlet-name>
  	<display-name>AddClass</display-name>
  	<description></description>
  	<servlet-class>controller.AddClass</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowClass</servlet-name>
  	<display-name>ShowClass</display-name>
  	<description></description>
  	<servlet-class>controller.ShowClass</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddStudent</servlet-name>
  	<display-name>AddStudent</display-name>
  	<description></description>
  	<servlet-class>controller.AddStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowStudent</servlet-name>
  	<display-name>ShowStudent</display-name>
  	<description></description>
  	<servlet-class>controller.ShowStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSubject</servlet-name>
  	<display-name>AddSubject</display-name>
  	<description></description>
  	<servlet-class>controller.AddSubject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowSubject</servlet-name>
  	<display-name>ShowSubject</display-name>
  	<description></description>
  	<servlet-class>controller.ShowSubject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddTeacher</servlet-name>
  	<display-name>AddTeacher</display-name>
  	<description></description>
  	<servlet-class>controller.AddTeacher</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowTeacher</servlet-name>
  	<display-name>ShowTeacher</display-name>
  	<description></description>
  	<servlet-class>controller.ShowTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/logoutservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddClass</servlet-name>
  	<url-pattern>/addclass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowClass</servlet-name>
  	<url-pattern>/showclass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddStudent</servlet-name>
  	<url-pattern>/addstudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowStudent</servlet-name>
  	<url-pattern>/showstudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSubject</servlet-name>
  	<url-pattern>/addsubject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowSubject</servlet-name>
  	<url-pattern>/showsubject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddTeacher</servlet-name>
  	<url-pattern>/addteacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowTeacher</servlet-name>
  	<url-pattern>/showteacher</url-pattern>
  </servlet-mapping>
</web-app>
